/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ae08c4;
  --ifm-color-primary-dark: #9d07b0;
  --ifm-color-primary-darker: #9407a7;
  --ifm-color-primary-darkest: #7a0689;
  --ifm-color-primary-light: #bf09d8;
  --ifm-color-primary-lighter: #c809e1;
  --ifm-color-primary-lightest: #db14f5;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #e65df8;
  --ifm-color-primary-dark: #e13cf7;
  --ifm-color-primary-darker: #de2cf6;
  --ifm-color-primary-darkest: #cb0ae5;
  --ifm-color-primary-light: #eb7ef9;
  --ifm-color-primary-lighter: #ee8efa;
  --ifm-color-primary-lightest: #f5bffc;
  --ifm-background-color: #19191f;
}

img{
  border-radius: 5%;
  margin-bottom: 1rem;
}

.hero{
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(174,8,196,1) 48%, rgba(252,176,69,1) 100%);
}

